.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.logo {
    width: 70px !important;
}

.containerMenuItems {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .container {
        justify-content: space-between;
    }

   .containerMenuItems {
    display: none;
   }
   .logo {
    display: none;
   }
  }